# Archivos temporales de MATLAB y Simulink
*.asv
*.slxc
*.mex*
*.log
slprj/
          
# Caché de carpetas de Windows
Thumbs.db
ehthumbs.db
# Resultados pesados generados por simulaciones
docs/img/resultados/**/*.mat
